<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sacred System is a fantasy pen and paper role playing game." />

    <title>@ViewBag.Title - Sacred System</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Content", required: false)

    <script type="text/javascript">
        site_domain = '@Request.Url.Authority';
        site_baseurl = '@Url.Content("~")';
        api_baseurl = '@System.Configuration.ConfigurationManager.AppSettings["SacredApiUrl"]';
    </script>
</head>

<body>
    <header>
        <div class="wide-middle-wrapper">
            <h1>@Html.ActionLink("Sacred", "Index", "Home")</h1>

            <ul class="nav">
                <li>@Html.ActionLink("About", "About", "Home")</li>
            </ul>

            <div class="nav-login">
                @if (User.Identity.IsAuthenticated)
                {
                    // TODO :: Show logged in information (avatar etc)
                    string UserId = Request.Cookies[_9th.Sacred.WebApp.Classes.Constants._COOKIE_NAME_].Values.Get(_9th.Sacred.WebApp.Classes.Constants._COOKIE_USER_ID_);
                    string Username = Request.Cookies[_9th.Sacred.WebApp.Classes.Constants._COOKIE_NAME_].Values.Get(_9th.Sacred.WebApp.Classes.Constants._COOKIE_USER_NAME_);
                    @Html.ActionLink(Username, "Profile", "User", new { id = UserId }, new { @class = "user-home-button" });
                    @Html.Raw(" | ");
                    @Html.ActionLink("Logout", "Logout", "Account", new { }, new { @class = "logout-button" });
                }
                else if (ViewBag.IsLoginPage == null)
                {
                    // Not logged in - show login form
                    using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "NavLoginForm" }))
                    {
                        @Html.AntiForgeryToken();
                    <div>
                        <label>Email</label>
                        <input type="text" name="Email" />
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" name="Password" />
                    </div>
                    <div>
                        <label>&nbsp;</label>
                        <input type="submit" value="Login" />
                    </div>
                    }
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </header>



    <div class="content-wrapper">
        <div class="wide-middle-wrapper">
            @RenderBody()
        </div>
    </div>

    <footer>
        <div class="wide-middle-wrapper">
            <p>&copy; @DateTime.Now.Year - Sacred System - 9th Batallion. All rights reserved.</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
