@model _9th.Sacred.WebApp.Models.CharacterCreateModel
@{
    ViewBag.Title = "Create Character";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Content {
    <link href="~/Content/Page/CreateCharacter.css" type="text/css" rel="stylesheet" />
}

<div class="hidden">
    @using (Html.BeginForm("HandleCreate", "Character", FormMethod.Post, new { id = "CharacterCreateForm" }))
    {
        @*@Html.AntiForgeryToken();*@

        <input type="hidden" id="CreateIsNew" name="IsNew" value="false" />
        <input type="hidden" id="CreateSection" name="Section" value="@Model.SavedCharacter.Section" />
        <input type="hidden" id="CreateRace" name="Race" value="@Model.SavedCharacter.Race" />
        <input type="hidden" id="CreateClass" name="Class" value="@Model.SavedCharacter.Class" />
    }
</div>

@if (Model.SavedCharacter.Section == _9th.Sacred.WebApp.Models.CreateCharacterSection.Race)
{
    // Race section
    @Html.Partial("_ChooseRace", Model);
}
else if (Model.SavedCharacter.Section == _9th.Sacred.WebApp.Models.CreateCharacterSection.Class)
{
    // Class section
    @Html.Partial("_ChooseClass", Model);
}
else if (Model.SavedCharacter.Section == _9th.Sacred.WebApp.Models.CreateCharacterSection.Heroic)
{
    @Html.Partial("_HeroicAwakening", Model);
}


@section scripts {
    <script type="text/javascript" src="~/Scripts/Sacred/CharacterCreate.js"></script>
}